body {
  color: #ffffff;
  background-color: #000000;
}
a {
  color: #dddddd;
}
a:hover,
a:focus {
  color: #ffffff;
}
.thumbnail {
  border: 1px solid #666;
  -webkit-box-shadow: 0 1px 3px rgba(255, 255, 255, 0.055);
     -moz-box-shadow: 0 1px 3px rgba(255, 255, 255, 0.055);
          box-shadow: 0 1px 3px rgba(255, 255, 255, 0.055);
}
a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #ffffff;
  -webkit-box-shadow: 0 1px 4px rgba(255, 255, 255, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(255, 255, 255, 0.25);
          box-shadow: 0 1px 4px rgba(255, 255, 255, 0.25);
}
.navbar .brand,
.navbar-text,
.navbar-link {
  color: #ffffff;
}
.dropdown-menu {
  -webkit-box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
          box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
}
.dropdown-menu > li > a {
  color: #888888;
}
.breadcrumb {
  background-color: #222222;
}
.breadcrumb > li {
  text-shadow: 0 1px 0 #111111;
}
.modal {
    color: #000;
}
.modal-gallery .modal-image:hover:before,
.modal-gallery .modal-image:hover:after {
  font-size: 40px;
  line-height: 40px;
  background: #000000;
  opacity: 1.0;
  filter: alpha(opacity=100);
}
.thumbnail .caption {
  color: #ffffff;
}
hr {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #000000;
}